<!DOCTYPE html>
<html>
<head>
<title>Nuevo usuario</title>
</head>
<body>

<h1>Se dispone a crear un nuevo  usuario </h1>

<form action="{% url 'handleNuevoUsuario' %}" method="post">
    {% csrf_token %}
    <label>Uvus</label>
    <input id="uvusInput" name="uvus" type="text"><br>
    <label>Rol</label>
    <input id="rolInput" name="rol" type="radio" value="NA"><br>
    <input id="rolInput" name="rol" type="radio" value="MB"><br>
    <input id="rolInput" name="rol" type="radio" value="CD"><br>
    <input id="rolInput" name="rol" type="radio" value="PR"><br>
    <input id="rolInput" name="rol" type="radio" value="SU"><br>
    <input type="submit" value="Crear">
</form>

</body>
</html>