<!DOCTYPE html>
<html>
<head>
<title>Administracion de usuarios</title>
</head>
<body>

<h1>Esta es la página de administracion de usuarios</h1>

<h3>Usuarios:</h3>
<table>
    <tr>
        <th>uvus</th>
        <th>rol</th>
    </tr>
    {% for user in usuarios %}
    <tr>
        <th>
            {{ user.uvus }}
        </th>
        <th>
            {{ user.rol }}
        </th>
        <th>
            <a href="">Modificar usuario</a>
            <a>Eliminar usuario</a>
        </th>
    </tr>
    {% endfor %}
</table>

</body>
{% load static %}
<script src="{% static 'js/adminUsuarios.js' %}"></script>
</html>