<!DOCTYPE html>
<html>
<head>
<title>Modificar usuario</title>
</head>
<body>

<h1>Se dispone a modificar el usuario {{ uvus }} </h1>

<form action="{% url 'handleModificarUsuario' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="uvus" value="{{ uvus }}">
    <label>Uvus</label>
    <input id="uvusInput" name="newUvus" type="text" value="{{ uvus }}"><br>
    <label>Rol</label>
    <input id="rolInput" name="rol" type="radio" value="NA"><br>
    <input id="rolInput" name="rol" type="radio" value="MB"><br>
    <input id="rolInput" name="rol" type="radio" value="CD"><br>
    <input id="rolInput" name="rol" type="radio" value="PR"><br>
    <input id="rolInput" name="rol" type="radio" value="SU"><br>
    <input type="submit" value="Modificar">
</form>

</body>
</html>