<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modificar productos</title>
</head>
<body>
    <h3>Modifique el producto</h3>

    <form action="{% url 'handleModificarProducto' %}" method="post">
        {% csrf_token %}
        <label>Nombre:</label>
        <input type="hidden" name="id" value={{ producto.id }} >
        <input id="nombreInput" name="nombre" type="text" value = {{ producto.nombre }}><br>
        <label>Categoria:</label>
        <select name="categoria">
        {% for categoria in categorias %}
            <option value= {{ categoria.categoria }}> {{ categoria.categoria }} </option>
        {% endfor %}
        </select><br>
        <label>Unidades:</label>
        <input id="unidadesInput" name="unidades" type="number" value = {{ producto.unidades }}><br>
        <label>Valor Monetario (total):</label>
        <input id="valorMonetarioInput" name="valorMonetario" type="number" value={{ producto.valorMonetario }}><br>
        <label>Descripción:</label>
        <textarea id="descripcionInput" name="descripcion"> {{ producto.descripcion }} </textarea><br>

        <input type="submit" value="Modificar">
    </form>

</body>
</html> 
