<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Añadir productos</title>
</head>
<body>
    <h3>Añada un nuevo producto</h3>

    <form action="{% url 'nuevoProducto' %}" method="post">
        {% csrf_token %}
        <label>Nombre:</label>
        <input id="nombreInput" name="nombre" type="text"><br>
        <label>Categoria:</label>
        <select name="categoria">
        {% for categoria in categorias %}
            <option value= {{ categoria.categoria }}> {{ categoria.categoria }} </option>
        {% endfor %}
        </select><br>
        <label>Unidades:</label>
        <input id="unidadesInput" name="unidades" type="number"><br>
        <label>Valor Monetario (total):</label>
        <input id="valorMonetarioInput" name="valorMonetario" type="number"><br>
        <label>Descripción:</label>
        <textarea id="descripcionInput" name="descripcion"></textarea><br>

        <input type="submit" value="Añadir">
    </form>

    <h3>Añada una nueva categoría</h3>

    <form action="{% url 'nuevoCategoria' %}" method="post">
        {% csrf_token %}
        <label>Categoria:</label>
        <input id="categoriaInput" name="categoria" type="text"><br>
        <input type="submit" value="Añadir">
    </form>

</body>
</html> 
