{% extends "baseTemplates/base.html" %}

{% block head %}
    <title>Listado de necesidades</title>
    <div id="navbar" class="necesidades"></div>

<!--  Datatables  -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />


    <script src=https://code.jquery.com/jquery-3.5.1.js></script>

<!--  extension responsive  -->
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock head %}

{% block navBar %}
    {% include "baseTemplates/navBar.html" %}
{% endblock navBar %}

{% block header %}
    <h1 align="center">Listado de necesidades</h1>
    <br>

{% endblock header %}



{% block content %}

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalAnadirNecesidad">Añadir Necesidad</button>
    <h3>Necesidades:</h3>
    <table id="tablaNecesidad" class="table table-sm table-striped table-bordered table-hover nowrap">
        <thead>
            <tr>
                <th>Nombre:</th>
                <th>Comité:</th>
                <th>Cantidad necesitada:</th>
                <th>Descripción:</th>
                <th>Acciones:</th>
            </tr>
        </thead>
        <tbody>
            {% for necesidad in necesidades %}
            <tr>
                <th>
                    {{ necesidad.nombre }}
                </th>
                <th>
                    {{ necesidad.comite.comite }}
                </th>
                <th>
                    {{ necesidad.cantidadNecesitada }}
                </th>
                <th>
                    {{ necesidad.descripcion }}
                </th>
                <th>
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalAnadirComite">Añadir Comité</button>
    <h3>Comités:</h3>
    <table id="tablaComites"  class="table table-sm table-striped table-bordered table-hover nowrap">
        <thead>
            <tr>
                <th>Comité:</th>
                <th>Acciones:</th>
            </tr>
        </thead>
        <tbody>
            {% for comite in comites %}
                <tr>
                    <th>
                        {{ comite.comite }}
                    </th>
                    <th>
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% load static %}



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>

    <script type="text/javascript"
			src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
		<!-- extension responsive -->
		<script
			src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

    <script src="{% static 'inventario/js/listadoProductos.js' %}"></script>
    {% include "necesidades/modalAnadirComite.html" %}
    {% include "necesidades/modalAnadirNecesidad.html" %}
{% endblock content %}
{% block footer %}
    {% include "baseTemplates/footer.html" %}
{% endblock footer %}